body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

th {
  cursor: pointer;
}

.validation {
  margin: 0;
  color: red;
  font-size: small;
}

.login-form {
  margin: 5% 15%;
}

.add-button {
  margin: 3% 0;
  float: left;
}

.table-results {
  float: left;
  margin-bottom: 20px;
}

th {
  border-top: 0;
}
